<footer>
  <div class="footer bg-dark">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b2cae1a0b59_social_fb_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b2cae1a0b59_social_fb_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b2cae1a0b59_social_fb_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Facebook">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbe947c3c406798839_social_twitter_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbe947c3c406798839_social_twitter_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbe947c3c406798839_social_twitter_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Twitter">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b61771a0b5b_social_Inst_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b61771a0b5b_social_Inst_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b61771a0b5b_social_Inst_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Instagram">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbd5d9bd38a4cab8ae_social_dribble_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbd5d9bd38a4cab8ae_social_dribble_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbd5d9bd38a4cab8ae_social_dribble_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Dribble">
    <img src="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b57f41a0b5a_social_behance_mask.png"
      width="288"
      srcset="https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b57f41a0b5a_social_behance_mask-p-500.png 500w, https://uploads-ssl.webflow.com/5c80e3b3ab24dcac947c0be9/5c9508cbc2075b57f41a0b5a_social_behance_mask.png 576w"
      sizes="(max-width: 479px) 20vw, (max-width: 767px) 19vw, (max-width: 991px) 20vw, 16vw" alt="Behance">


  </div>
  <p class="text-center">&copy;copyright Caleb Odinga</p>
</footer>