<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand" href="/">Hood Alert</a>
  <!--search form-->
  <form action="{% url 'search_business' %}" class="form-inline search_form" method="GET">
    <input type="text" placeholder="search_business" name="search_business">
    <button type="submit" class="btn btn-default" width="15px" alt=""><img
        src="../static/images/searching-icon-white-png.png" width="15px" alt=""></span>
  </form>

  <!--End of search form-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav d-flex align-items-center justify-c0ntent-center">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#weather">Weather</a>
      <a class="nav-item nav-link" href="#post_loop">Posts</a>

      <img src="{% if user_profile %}{{user_profile.photo_path.url}}{%else%}../../../static/images/human-avatar-profle.png{%endif%}" alt="" class="ml-5 mr-5" width="30px" height="30px" style="background-color: white; border-radius: 50%;">
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{request.user.username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="{% url 'user_profile' %}">Change Neighbourhood</a>
          <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>


        </div>
      </div>
      {% if not user_profile%}

      <div class="ml-5">
        <p class="bold m-0">Hood:</p>
        <span>Create Profile and add your Neighbourhood</span>
      </div>
      {%else%}
      <div class="ml-5">
        <p class="bold m-0">Hood:</p>
        <span>{{user_profile.hood.name}}{{profile.hood.name}}</span>
      </div>
      {%endif%}
      {% else %}
      <a href="{% url 'login_user' %}">REGISTER/LOGIN</a>
      {%endif%}
    </div>
  </div>
</nav>