{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="index_page row">
  <div class="col-md-1 left_bar">
    <a href="#post_loop">
      <div class="icon">
        <img src="../../static/images/posts.png" alt="feed">
        <h6 class="text-center bold">Posts</h6>
      </div>
    </a>
    <a href="#hospital">
      <div class="icon">
        <img src="../../static/images/health_icon.png" alt="health">
        <h6 class="text-center bold">Health Centers</h6>
      </div>
    </a>
    <a href="#police">
      <div class="icon">
        <img src="../../static/images/police.png" alt="police">
        <h6 class="text-center bold">Police Stations</h6>
      </div>
      <a href="#business">
        <div class="icon">
          <img src="../../static/images/shop.jpg" alt="business">
          <h6 class="text-center bold">Business</h6>
        </div>
      </a>
      <a href="#members">
        <div class="icon">
          <img src="../../static/images/user_groups.png" alt="members">
          <h6 class="text-center bold">Members</h6>
        </div>
      </a>
      <a href="#weather">
        <div class="icon">
          <img src="../../static/images/weather.png" alt="weather">
          <h6 class="text-center bold">Weather</h6>
        </div>
      </a>
  </div>
  <div class="business_loop col-md-9">
    <div class="area_business col-md-12">
      <!--add business form-->
      <div class="card formbuss col-md-2 p-0 m-1" style="display: flex; align-items: center; justify-content: center;">
        <div class="card-image">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            <span style="font-size: 4em;">&plus;</span><br> Add A Business
          </button>
        </div>
      </div>
      <!--End of business-->
      <!--Business loops-->
      {% if businesses %}
      {% for business in businesses%}
      <div class="card buss_card col-md-3 p-0 m-1">
        <div class="card-image" style="background-image: url('../../static/images/shop.jpg'); 
                                      height: 100%;
                                      background-position: center;
                                      background-size: contain;
                                      ">
          <div class="card-footer">
            <h3>{{business.name}}</h3>
            <h5>{{business.email}}</h5>
            <h6 id="business">{{business.location_or_description}}</h6>
          </div>
        </div>
      </div>
      {%endfor%}
      {%else%}
      <h3 class="text_center">No Businesses Added</h3>
      {%endif%}
      <!--End of business loops-->
    </div>
    <div class="content_bd col-md-12">
      <!--left side bar-->
      <div class="col-md-3 lefter">
        {% if neighborhood.health_dep %}
        <div class="card"
          style="background-image: url('../../static/images/health_icon.png'); background-position: center; background-size: contain;background-repeat: no-repeat;">
          <div class="card" style=" background-color: rgba(255, 255, 255, .8);">
            <div class="card-title">
              <h4 class="bold text-center">Health Center</h4>
            </div>
            <div class="card-body">
              <h5 class="text-center">{{neighborhood.health_dep.name}}</h5>
            </div>
            <div class="footer d-flex flex-column" id="hospital">
              <h6>{{neighborhood.health_dep.contact}}</h6>
              <h6>{{neighborhood.health_dep.email}}</h6>
            </div>
          </div>
        </div>
        {%else%}
        <h6 class="text-centerc">No Health Centers Added</h6>
        {%endif%}
        <hr>
        <!--Police-->
        {% if neighborhood.police_dep %}
        <div class="card"
          style="background-image: url('../../static/images/police.png'); background-position: center; background-size: contain; background-repeat: no-repeat;">
          <div class="card" style=" background-color: rgba(255, 255, 255, .8);">
            <div class="card-title">
              <h4 class="bold text-center">Police Station</h4>
            </div>
            <div class="card-body">
              <h5 class="text-center">{{neighborhood.police_dep.name}}</h5>
            </div>
            <div class="footer d-flex flex-column" id="police">
              <h6>{{neighborhood.police_dep.contact}}</h6>
              <h6>{{neighborhood.police_dep.email}}</h6>
            </div>
          </div>
        </div>
        {%else%}
        <h6 class="text-centerc">No Police Stations Added</h6>
        {%endif%}

      </div>
      <div class="col-md-5 middler p-2">
        <!--Add post Form-->
        <div class="add_post_form">
          <h5>Create Post:</h5>
          <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {% for message in messages %}
            <div class="alert-info">{{message}}</div>
            {%endfor%}
            {% for error in form.errors%}
            <div class="alert-danger">{{error}}</div>
            {%endfor%}

            <p class="description">{{form.description}}</p>
            <p class="title">{{form.title}}</p>
            <p class="image">{{form.post_image}}</p>

            <button class="btn btn-default" type="submit">Post</button>
          </form>
        </div>
        <!--End of add post form-->
        <!--start of post loops-->
        {%if posts%}
        {% for post in posts %}
        <div class="post_loop m-3 p-0" id="post_loop">
          <div class="title">
            <span class="post_image"><img src="{{post.poster.photo_path.url}}" alt="" width="30" height="30px"></span>
            <span class="bold">{{post.poster.user.username}}</span><span
              class="ml-auto">{%if post.date_created%}{{post.date_created|timesince}}{%endif%}</span>
          </div>
          <hr>
          <div class="post_image" style="background-image: url('{{post.post_image.url}}');
                                          height: 250px;
                                          width: 100%;
                                          background-position: center;
                                          background-size: contain;
                                          background-repeat: no-repeat;">

          </div>
            <p class="bold">{{post.title}}</p>
            <h6 class="post_desc">{{post.description}}</h6>
          <div class="tags d-flex flex-row m-1">
            <p class="m-0">Tags:</p>
            <h6 class="bold badge badge-warning m-2">{{post.poster.hood.name}}</h6>
            <h6 class="bold badge badge-warning m-2">{{post.title|truncatechars:9}}</h6>
          </div>
        </div>
        {%endfor%}
        {%else%}
        <p class="text-center">No Posts Added</p>
        {%endif%}
        <!--end of post loop-->
      </div>
      <div class="col-md-3 righter">
        <div class="event card">
          <div class="card-image">
            <img src="../../static/images/christmas.jpeg" alt="christmas" style="width: 100%;">
          </div>
          <div class="card-body">
            <h4 class="card-title">
              2021 Christmas Party
            </h4>
            <p>Bookings to who will host our 2021 christmas party is ongoing. Submit your name
              so that it can be drafted for voting by members. Lates submission is on OCT 2021.
              If you know a friend who is goo at organizing parties, Nominate them and we will let them know.
            </p>
            <div class="card-footer">
              Host of Last Years Event<p class="badge badge-light">Njeri and Johnte</p>
            </div>
          </div>
        </div>
        <div class="weather m-4">
          <div class="card"
            style="background-color: rgba(96, 152, 165, 1); height: auto; color: white; font-size: 1.3em; font-weight: 600; box-shadow: 2px 2px 2px 2px grey; border: 2px solid white;">
            <h4 class="text-center" id="weather">
              Weather:
            </h4>
            <p></p>
            <p class="text-center">Date Today :<br> {{date_today}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-1 right_bar">
    {% if members%}
    <h4>Members</h4>
    {% for member in members%}
    <div class="member"
      style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid blue; display: flex; flex-direction: column; align-items: center; justify-content:center; margin: 10px; overflow: hidden;;">
      <img src="{{member.photo_path.url}}" alt="{{member.user.username}}" id="members">
    </div>
    {%endfor%}
    {%else%}
    <p>No Members</p>
    {%endif%}
  </div>
</div>

<!--Modal Windows-->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'home' %}" method="POST">
          {%csrf_token%}
          <h3 class="text-center">Add Business:</h3>
          {% for message in messages %}
          <div class="alert-info">{{message}}</div>
          {%endfor%}
          {% for error in form_buss.errors%}
          <div class="alert-danger">{{error}}</div>
          {%endfor%}

          <h5 class="text-left">{{form_buss.name.label}}:</h5>
          <p>{{form_buss.name}}</p>
          <h5 class="text-left">{{form_buss.email.label}}:</h5>
          <p>{{form_buss.email}}</p>
          <h5 class="text-left">{{form_buss.location_or_Description.label}}:</h5>
          <p>{{form_buss.location_or_Description}}</p>

          <button type="submit" class="btn btn-default">Save Changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{%endblock%}