{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{title}}</title>
  {%else%}
  <title>Netflic Clone</title>
  {%endif%}
  {% block styles %}
  {%bootstrap_css%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">

  {%endblock%}
</head>

<body class="d-flex flex-column profile">
  <div class="col-md-11">
    <div class="col-md-3 left_profile">
      {% if not user_profile %}
      <div class="prof_image" style="background-image: url('{% static 'images/human-avatar-profle.png' %}');
               background-position: center;
               background-size: contain;
               background-repeat:no-repeat;">
      </div>
      {%else%}
      <div class="prof_image" style="background-image: url('{{user_profile.photo_path.url}}');
               background-position: center;
               background-size: contain;
               background-repeat:no-repeat;">
      </div>

      {%endif%}
      <p>{{request.user.first_name}}-{{request.user.last_name}}</p>
      <!--if it is the owner, edit profile, else, follow-->
      {%if user_profile %}
      {% if request.user.id != user_profile.user.id%}
      {%else%}
      <strong>
        <button type="button" class="btn btn-default m-2" data-toggle="modal" data-target="#exampleModalLong"
          class="edit_profile">
          Edit Profile
        </button>
      </strong>
      {%endif%}
      {%else%}
      <strong>
        <button type="button" class="btn btn-default m-5" data-toggle="modal" data-target="#exampleModalLong"
          class="edit_profile">
          Add Profile
        </button>
      </strong>
      {%endif%}
      <div class="redir m-3">
        <a href="/" class="btn btn-warning redirect_btn col-md-8">
          <p class="badge badge-success p-auto">Dashboard</p>
        </a>

        <a href="/" class="btn btn-warning redirect_btn col-md-8">
          <p class="badge badge-success p-auto">To Watch</p>
        </a>
        <a href="/" class="btn btn-warning redirect_btn col-md-8">
          <p class="badge badge-success p-auto">Home</p>
        </a>
        <a href="/" class="btn btn-warning redirect_btn col-md-8">
          <p class="badge badge-success p-auto">Playlist</p>
        </a>

      </div>

      <a href="{% url 'logout' %}" class="border border-warning redirect_btn p-2">
        <p>Logout</p>
      </a>


    </div>
    <div class="col-md-9 right_profile">
      <div class="col-md-12 title_profile">
        {% for message in messages%}
        <div class="alert alert-danger">
          {{message}}
        </div>
        {%endfor%}
        <div class="col-md-8">
          <h3>Netflic Account - {{request.user.username}}</h3>
          <i>{% if user_profile %} {{user_profile.tagline}} {%else%} 'No Taglines Added'{%endif%}</i>
        </div>
        <div class="col-md-3 d-flex flex-row">
          <a href="#" class="btn btn-warning redirect_btn col-md-8">
            <p class="badge badge-success p-auto">Settings</p>
          </a>

          <a href="/"><button class="btn btn-default">Home</button></a>

        </div>
      </div>
      <div class="col-md-12 main_page">
        <div class="col-md-12 playlist">

          {% if user_profile%}
          {% if playlist_items%}
          {% for movie in playlist_items %}


          <div class="card col-md-3">
            <a href="{% url 'single_movie' movie.movie_id %}">
            <div class="card-image" style="background-image: url('https://www.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}');
                                      height: 200px;
                                      background-size: contain;
                                      background-position: center;
                                      background-repeat: no-repeat;
                                      ">
            </div>

            <div class="card-footer">
              <p class="text-center bold">{{movie.original_title}}</p>
              <h6>Added {{movie.date_added|timesince}} ago</h6>
              <button class="btn btn-danger remove-btn">Remove</button>
            </div>
          </div>
          </a>


          {%endfor%}
          {%else%}
          <p class="text-center">No Movies in PlayList</p>
          {%endif%}
          {%else%}
          <p class="text-center">Add Your Profile to Proceed</p>

          {%endif%}

        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12 recc">
    {% if user_profile%}
    {% if recc_items%}
    {% for movie in recc_items %}

    {{movie.original_title}}

    {%endfor%}
    {%else%}
    <p class="text-center">No Movies in Recommendation</p>
    {%endif%}
    {%else%}
    <p class="text-center">Add Your Profile to Proceed</p>

    {%endif%}
  </div>

  <!--Modal Window-->
  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Profile</h5><img
            src="{%if user_profile %}{{user_profile.photo_path.url}}{%endif%}" alt="profile" width="30px" height="30px">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% for message in messages%}
        <div class="alert alert-warning">
          {{message}}
        </div>
        {%endfor%}
        <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="modal-body">
            <!--Update profile form-->
            {{form.as_p}}
            <!--end of form -->
          </div>
          <div class="modal-footer">
            <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--End of modal window-->

  {%block scripts%}
  {%bootstrap_javascript%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {%endblock%}

</body>

</html>